<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Adding fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <!-- Adding bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Linking our css file -->
    <link rel="stylesheet" href="/assets/style.css">
    <!-- Adding animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- Adding fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <!-- Adding jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script>
        // Script to ad active class to nav item based on the page we're in.
        $(document).ready(function() {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        //Check if path is shop
        if(pathname.includes("/shop/")){
            pathname = "/shop/1";
        }
        //check if path is adoption
        if(pathname.includes("/adopt/")){
            pathname = "/adopt/1";
        }
        $('ul.nav a[href="'+pathname+'"]').parent().addClass('underline');
        });
    </script>
    <title>Pawfection</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/adopt/1">
            <img src="https://i.imgur.com/WtoVUSk.jpg" id="head-img" width="30" height="30" alt="">
            Pawfection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-home" href="/adopt/1"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-shop" href="/shop/1"><i class="fas fa-shopping-bag"></i> Shop</a>
                </li>
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link nav-user" href="/signin"><i class="fas fa-sign-in-alt"></i> Signin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-signup" href="/signup"><i class="fas fa-user-plus"></i> Signup</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link nav-user" href="/user/<%= currentUser._id %>"><i class="fas fa-user"></i> <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-logout" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                <% } %>
                <li class="nav-item nav-post-li">
                    <a class="nav-link post-nav" href="/new"><i class="fas fa-plus"></i> Post</a>
                </li>
            </ul>
        </div>
    </nav>
