<% include partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Choose a pet to buy!</h1>
    </div>
    <div class="row"> 
        <% pets.forEach(function(pet){ %>
            <% if(pet.price>0){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%=pet.image%>">
                    <div class="card-body">
                        <h4 class="card-title"><%= pet.title %></h4>
                        <p class="card-text">He is a good boi!</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
            <% }else{ %>
                <% continue; %>
            <% } %>
        <% }); %>
    </div>
</div>  
<% include partials/footer %>