body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem !important;
}
.navbar-brand{
    font-weight: 700;
}
.hom-card{
    padding-top:10px;
}
.jumbotron{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    background-color: #2c3e50;
    color: whitesmoke;
}
#signup-form{
    margin-top: 1.4rem;
}
#post-form{
    margin-top: 1rem;
}
.signin-form{
    margin-top: 6rem;
}
h4,h5{
    font-size: 1.3rem;
}
.pet-card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-img-top{
    max-height: 150px;
    object-fit: cover;
}
.card-title {
    margin-bottom: 1rem;
    font-weight: 700;
}
.alert-homepage{
    margin-top: 16px;
}
#post-form {
    margin-bottom: 1rem;
}
.det-cont{
    margin-top: 1rem;
}
.disc-bod{
    margin: 15px 0px;
}
.prof-row{
    margin: 15px 0px;
}
.btn-del{
    margin-top: 1rem;
}
#head-img{
    margin-bottom: 3px;
}
.fa-map-marker-alt{
    color: #00802b;
}
.fa-heart{
    color: red;
}
.nav-user{
    color: black!important;
}
.nav-logout{
    color: #b30000!important;
}
.nav-signup{
    color: black!important;
}
.nav-shop{
    color: black!important;
}
.nav-home{
    color: black!important;
}
.post-nav{
    background-color: #ffc000!important;
    color: white!important;
    font-weight: 700!important;
}
.underline{
    border: black 2px solid;
}
.nav-item{
    text-align: center;
}
.nav-link{
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}
@media (min-width: 992px){
    .nav-post-li{
        margin-left: 10px;
    }
}
@media (max-width: 992px){
    .nav-post-li{
        margin-top: 8px;
    }
}
.prof-card{
    margin-top: 0.5rem;
}
.card-header{
    background-color: #2c3e50;
    color: whitesmoke;
}